.venv
__pycache__
oauth2.json
oauth.json

.vscode
.vim
secrets.json
guilds.json
*.log
# Ignore dynaconf secret files
.secrets.*
answers.txt
*.pem
.python-version
*.db

# Pytest
.coverage

dist/
backups/
