aiohttp==3.8.3
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.1.0
black==22.10.0
cachetools==5.2.0
certifi==2022.12.7
cfgv==3.3.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
coverage[toml]==6.5.0
discord.py==2.1.0
distlib==0.3.6
docopt==0.6.2
dynaconf==3.1.11
exceptiongroup==1.0.4
filelock==3.8.0
flake8==5.0.4
frozenlist==1.3.3
identify==2.5.8
idna==3.4
iniconfig==1.1.1
mccabe==0.7.0
multidict==6.0.2
mypy-extensions==0.4.3
mysqlclient==2.1.1
nodeenv==1.7.0
objectpath==0.6.1
packaging==21.3
pathspec==0.10.2
peewee==3.15.4
platformdirs==2.5.4
pluggy==1.0.0
pre-commit==2.20.0
psycopg2==2.9.5
pyaml==21.10.1
pycodestyle==2.9.1
pyflakes==2.5.0
pyparsing==3.0.9
pytest-cov==4.0.0
pytest==7.2.0
pytz==2023.2
pyyaml==6.0
rauth==0.7.3
requests==2.28.2
setuptools==65.5.1
toml==0.10.2
tomli==2.0.1
typing-extensions==4.4.0
urllib3==1.26.15
virtualenv==20.16.7
yahoo-fantasy-api==2.7.0
yahoo-oauth==2.0
yarl==1.8.1
